#bloviation.contents(dangerously-set-inner-h-t-m-l='[object Object]')
  h3#three-marketing-regions-local-us-mainland-worldwide Three Marketing Regions - Local, US Mainland, Worldwide
  p The Saipan market is very small and shallow. Most suitable for local use are craft and cleaning powders.
  p The US Mainland market has many possibilities:
