#bloviation.contents(dangerously-set-inner-h-t-m-l='[object Object]')
  p This traveler’s mat has many uses.
  p
  .clearfix.mb2.border-bottom.fit.pillow2.right.fancybox
    a.block.mx-auto(href='products-soft-goods/travelers-mat-and-pillow/pillow2.jpeg', title='title')
      img.fig-img(src='products-soft-goods/travelers-mat-and-pillow/pillow2-t.jpeg', alt='travellers pillow')
    p.caption Rolled up, your best friend during flights
  | Rolled up it makes a neck pillow for waiting between flights. It makes a great ironing surface to keep your clothes neat while traveling.
  p
  p
  div
  .clearfix.mb2.border-bottom.fit.pillow1.left.fancybox
    a.block.mx-auto(href='products-soft-goods/travelers-mat-and-pillow/pillow1.jpeg', title='title')
      img.fig-img(src='products-soft-goods/travelers-mat-and-pillow/pillow1-t.jpeg', alt='Many Uses')
    p.caption multiPurpose!
  | Warm it up for 15 seconds in a microwave to make a great muscle relaxer. Or, freeze it to make a cold pack!
  p
