#bloviation.contents(dangerously-set-inner-h-t-m-l='[object Object]')
  p Bamboo Snow powder mixes well with many glues to make super putty.
  p
    | This mixture not only is easy to work with, but the
    em bamboo snow
    | actually sucks the glue off my fingers.
  p
    img(src='products-household/craft-powder/bamboo-snow-putty.gif', alt='Bamboo Snow Makes Clean Crafting@soudelar.classes.fancybox', title='Bamboo Snow makes for clean crafting')
  p Clean, sifted bamboo snow can be packaged as an aid to crafting or repair. It makes a great filler for any kind of glue: With sufficient bamboo snow, the mass turns into a putty that is easily shaped and molded by hand. When dry, the bamboo snow on the surface of the putty can be painted. In addition, the surface will have enough "tooth" so that it can be glued later.
  p
    em Bamboo Snow
    | extends the working life of many glues and cements so that it can be molded, rolled, twisted and shaped into any form. When dry, the surface can be painted, sanded or carved.
  p Want to glue paper to silicone sealant? Easy just use bamboo snow – it makes a surface that has enough tooth to adhere to other glues.
  div
  p
    em entrepreneur’s handbook:
    | The craft powder requires the least processing to achieve a viable product. It has an eternal shelf life.
  p For the local hardware stores, a display showing bamboo snow mixed with several common glues would show prospective customers what to expect from mixing say, Elmers Glue-all with Bamboo Snow. The local packaging could be as simple as a baggie with a label.
  p For any export market, the major expenses would be packaging, marketing and shipping. A salt or oatmeal sized container could return $10 to $15 dollars at the retail (mainland) level. A small package of an ounce (about the size of a slice of bread) would be enough for several small repairs and might fetch three dollars.
