#bloviation.contents
  p I have found my little stash of Bamboo Snow really helpful as I stay in this postage stamp of a studio.
  p I can wash my dishes in the bathroom without resorting to anything more than Bamboo Snow. It scours and cuts the dirt, harvests the goo and bacteria and leaves the dish shiny with only a rinse.
  p If I need a scrub during a shower, the bamboo snow cuts through any daily build-up.
  p I have used it for years on my scalp. I don’t have the skin problems that I used to have in the 70’s with my scalp and mustache. No more. I can’t say Bamboo Snow cures the fung, but it sure isn’t causing any fung.
  p And this morning, I took a bold step. Could a tiny lump of bamboo snow clean my teeth without a brush?
  p.
    I have used bamboo snow to brush my teeth: It’s OK, but…
    
  p But a tiny lump? With some mineral crunch? Maybe with a touch of mentholated oil? Bite. Crunch, chew. Work it around. Quick rinse. Spit. Clean with a capitol C! Yee Hah.
  p It worked like a traveller needs— A traveller needs to have ‘minimal dependencies’ — bamboo snow really helps.
  p Jim
