#bloviation.contents
  p Hello Lilith! I gave you a sample of Bamboo Snow, and whispered in your ear "I'lm stark raving mad" Yes, mad about Bamboo Snow. And here is the proof! These letters, penned in truth and dignity, are here for all to see the merry in the madness. Oh, yes, and the truthful utility of Bamboo Snow -- The bug poop that don't stink and is cleaner than you or I.
  p
    span Pretty Much.
